
body {
    background: #386479;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

@keyframes error_enter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.app_error_content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    pointer-events: none;
}

.app_error_list {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.app_error_inactive {
    opacity: 0 !important;
}

.app_error_list > div {
    display: flex;
    background: #111;
    color: #f33;
    min-width: 200px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    justify-content: center;
    box-shadow: 0px 5px 10px #0009;
    transition: all 300ms ease-out;
    animation: error_enter 300ms ease-in;
}

.save_indicator_content {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.save_indicator {
    display: flex;
    background: #111;
    color: #fff;
    min-width: 200px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    box-shadow: 0px 5px 10px #0009;
    transition: all 300ms ease-out;
}

.save_indicator > .loader {
    margin-right: 5px;
}

.save_enter_margin {
    margin-top: 5px !important;
}

.dialog_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.dialog_content > .button {
    min-width: 50px;
}

.dialog_content > ul {
    margin: 0px;
    margin-top: 5px;
    padding-left: 35px;
    list-style-type: square;
}

.dialog_content > textarea {
    min-height: 60px;
    min-width: 350px;
}

.dialog_content_buttons {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
    align-items: center;
}

.dialog_content_buttons > .button:nth-child(3) {
    margin-right: 0px;
}

.side_panel {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.side_nav_bar {
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
}

.side_nav_bar img {
    width: 32px;
    height: 32px;
}

.side_nav_bar > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #ffc878;
    border: 2px solid transparent;
    cursor: pointer;
}

.side_nav_bar > div:hover {
    background: #ff9800;
}

.side_nav_bar > div.selected {
    background: #ff9800;
    border-color: #333;
}

.side_container {
    margin-top: 5px;
    height: 100%;
    border-radius: 10px;
}

.save_panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 45px;
    border: 4px solid #386479;
    border-radius: 10px;
    background: #ddd;
    box-shadow: 0px 5px 10px #0009;
    padding: 5px;
    font-variant-caps: normal;
    max-width: unset !important;
    z-index: 10;
}

.save_panel > .label {
    font-weight: bold;
    font-size: 12pt;
}

.save_panel > textarea {
    min-width: 350px;
    min-height: 100px;
}

.save_panel > div {
    display: flex;
}

.sub_panel {
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.sub_panel_select {
    height: 24px;
}

.sub_panel_search {
    display: flex;
    height: 24px;
    margin-top: 5px;
}

.sub_panel_search input {
    width: 100%;
}

.sub_panel_show_deprecated {
    display: flex;
}

.side_content_1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_1_group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_1_group .list {
    height: 100%;
}

.side_content_1_group .label {
    transform: translateX(10px);
}

.side_content_1_result_header {
    display: flex;
}

.side_content_1_result_header > div {
    min-width: 50px;
}

.side_content_1_result_item {
    display: flex;
}

.side_content_1_result_item > div {
    min-width: 50px;
}

.side_content_2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_2_result_item {
    display: flex;
}

.side_content_2_result_item > div {
    min-width: 50px;
}

.side_content_3 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_3_types_list {   
    min-height: 150px;
}

.side_content_3_types_list > div {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding-left: 2px;
}

.side_content_3_types_list > div:not(:last-child) {
    margin-bottom: 2px;
}

.side_content_4 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_4_date_row {
    display: flex;
    justify-content: space-between;
}

.side_content_4_date_row input {
    border-radius: 5px;
}

.side_content_5 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_panel {
    width: 100%;
}

.main_container {
    display: flex;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.main_content_1 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_1_buttons {
    display: flex;
    justify-content: flex-end;
}

.main_content_2 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_2 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_3 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_3 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_4 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_4 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_4_chart {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    max-width: 500px;
}

.main_content_4_connections {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
}

.main_content_4_connections > div:nth-child(1) {
    font-weight: bold;
}

.main_content_4_connections > div:nth-child(3) {
    display: flex;
}

.main_content_4_list {
    min-height: 250px;
}

.main_content_4_list_item {
    display: flex;
}

.main_content_4_list_item > div:nth-child(1) {
    min-width: 120px;
}

.main_content_4_list_item > div {
    margin-left: 10px;
}

.main_content_5 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_5 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_title_container {
    display: flex;
    justify-content: space-between;
}

.main_content_title {
    font-weight: bold;
    font-size: 32pt;
    margin-left: 10px;
    font-variant-caps: all-petite-caps;
}

.main_content_title_name {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    font-variant-caps: all-petite-caps;
    justify-content: center;
    margin-right: 5px;
}

.main_content_title_name > .label {
    margin: 0px;
    padding: 0px;
    height: 16px;
    font-weight: bold;
    overflow: visible;
    align-self: flex-end;
}

.main_content_title_name div {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main_content_title_save {
    display: flex;
}

.main_content_title_deprecated {
    color: #d00;
}

.deprecate_button {
    background: #d00;
    border-color: #900;
}

.deprecate_button:hover {
    background: #f33;
}

.deprecate_button:active {
    background: #c00;
}

.deprecated {    
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0px;
    align-items: center;
}

.deprecated_info_row {
    display: flex;
    flex-direction: column;
}

.deprecated_info_row > div:first-child {
    font-weight: bold;
}

.deprecated_reference {
    display: flex;
    justify-content: space-between;
}

.deprecated_reference > div:last-child {
    display: flex;
}

.deprecated_reference_dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
}

.deprecated_reference_list {
    min-width: 450px;
    min-height: 150px;
    max-height: 250px;
    flex: unset;
}

.deprecated_reference_list > div {
    cursor: pointer;
}

.deprecated_reference_list > div:hover {
    background: #fff;
}

.deprecated_reference_selected {
    background: rgb(47, 120, 255) !important;
    color: #fff;
}

.description {    
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
}

.description > .label {
    font-weight: bold;
}

.description > textarea {
    resize: none;
}

.description > div:last-child {
    display: flex;
}

.description_name_and_misc {
    display: flex;
}

.description_name_and_misc > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.description_name_and_misc > div > .label {
    font-weight: bold;
}

.description_special_value {
    max-width: 80px;
    margin-left: 5px;
}

.description_db_id {
    max-width: 120px;
}

.description_isco_container {
    display: flex;
}

.description_isco_values {
    background: #ebebe4;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 4px 5px 5px 5px;
    color: rgb(84, 84, 84);
    font: 400 13.3333px Arial;
    max-height: 45px;
    overflow-x: hidden;
    overflow-y: auto;
}

.connections {    
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.connections > div:nth-child(2) {
    display: flex;
}

.connections > .button {
    margin-right: auto;
}

.connections > .label {
    font-weight: bold;
}

.connections > .list {
    background: #fff;
}

.item_history {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.item_history > .label{
    font-weight: bold;
}

.item_history > div:nth-child(2) {
    display: flex;
}

.item_history_item {
    display: flex;
    flex-direction: row;
}

.item_history_item > div:nth-child(1) {
    padding-right: 10px;
    white-space: pre;
}

.item_history_item > div:nth-child(2) {
    padding-right: 10px;
    min-width: fit-content;
}

.item_history_item > div:nth-child(3) {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.item_history_dialog {
    min-height: 250px;
}

.item_history_dialog > div:nth-child(2) {
    display: flex;
    align-self: flex-end;
}

.item_history_dialog_item {
    display: flex;
    margin: 2px;
    background: #fff;
}

.item_history_dialog_item > div:not(:first-child) {
    padding-left: 2px;
}

.item_history_dialog_item > div:first-child {    
    min-width: 150px;
    width: 150px;
    overflow-wrap: break-word;
}

.item_history_dialog_item > div:nth-child(2) {
    min-width: 500px;
    display: flex;
    flex-grow: 1;
}

.item_history_dialog_item > div:nth-child(2) > div {
    min-width: 50%;
    margin-right: 2px;
    overflow-wrap: break-word;
}

.item_history_dialog_head {
    display: flex;
    font-weight: bold;
    padding-left: 2px;    
}

.item_history_dialog_head > div:nth-child(1) {
    min-width: 150px;
    margin: 2px;
}

.item_history_dialog_head > div:nth-child(2) {
    min-width: 500px;
    display: flex;
    margin: 2px;
    flex-grow: 1;
}

.item_history_dialog_head > div:nth-child(2) > div {
    min-width: 50%;
}

.edit_concept_dialog {
    min-width: 600px;
    min-height: 400px;
}

.edit_concept_dialog_page {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: space-between;
}

.edit_concept_group_collection {
    display: flex;
    flex-direction: column;
}

.edit_concept_value_group {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.edit_concept_value_group textarea {
  resize: none;
}

.edit_concept_value_title {
    background: #bbc4c7;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.edit_concept_tree_view {
    min-height: 150px;
}

.edit_concept_tree_view_checkbox_item {
    display: flex;
}

.version_list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.version_list > .label {
    padding-left: 7px;
}

.version_list_item {
    display: flex;
    flex-direction: row;
}

.version_list_item > div:nth-child(1) {
    padding-right: 10px;
    width: 100px;
}

.version_list_item > div:nth-child(2) {
    padding-right: 10px;
    width: 160px;
    overflow-wrap: break-word;
}

.version_list_item > div:nth-child(3) {
    padding-right: 10px;
}

.version_list_header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 7px;
}

.version_list_header > div:hover {
    color: #fff;
}

.version_list_header > div:nth-child(1) {
    padding-right: 10px;
    width: 100px;
    cursor: pointer;
}

.version_list_header > div:nth-child(2) {
    padding-right: 10px;
    width: 160px;
    cursor: pointer;
}

.version_list_header > div:nth-child(3) {
    padding-right: 10px;
    cursor: pointer;
}

.version_list_group {
}

.ssyk_item {
    display: flex;
}

.ssyk_item > div:first-child {
    margin-right: 5px;
}

.changes {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.changes_item {
    display: flex;
    flex-direction: row;
}

.changes_item > div:nth-child(1) {
    padding-right: 10px;
    width: 150px;
}

.changes_item > div:nth-child(2) {
    padding-right: 10px;
    width: 100px;
}

.changes_item > div:nth-child(3) {
    padding-right: 10px;
    width: 150px;
}

.changes_item > div:nth-child(4) {
    padding-right: 10px;
}

.loader_child {
    font-weight: normal;
    font-variant-caps: normal;
}

.vis_network_main {
    display: flex;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.vis_network_main div:focus {
    outline: unset;
}

.vis-tooltip {
    position: absolute;
    background: rgb(247, 231, 164);    
    border: 1px solid #555;
    border-radius: 5px;
    color: #000;
    box-shadow: #000 0px 1px 3px;
    padding: 0px 2px 0px 2px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}

.add_connection_content {
    min-width: 640px;
    min-height: 420px;
}

.add_connection_tree {
    min-height: 250px;
}

.add_connection_error {
    color: #f00;
    font-weight: bold;
}

.add_connection_row {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.add_connection_row > .label {
    margin-right: 5px;
}

.add_connection_row > .add_connection_row {
    margin-left: 5px;
    margin-top: unset;
}

.add_connection_row > .add_connection_row .label {
    margin-left: 5px;
}

.add_connection_bottom {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.add_connection_bottom .dialog_content_buttons {
    margin-top: unset;
}

.concepts_search {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.new_concept_wizard {
    min-width: 540px;
    min-height: 320px;
}

.new_concept_wizard_step_headline {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 10px;
}

.new_concept_wizard_buttons {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
    align-items: flex-end;
    flex: 1 1 auto;
}

.new_concept_wizard > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings_types {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    min-height: 500px;
}

.settings_types > div {
    display: flex;
    background: #fff;
}

.settings_types > div:not(:last-child) {
    margin-bottom: 2px;
}

.settings_types_head {
    display: flex;
    margin-left: 15px;
    font-weight: bold;
}

.settings_types_type {
    min-width: 230px;
}

.settings_types_cb {
    min-width: 70px;
}

.settings_cache_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}

.isco_color {
    background: #78b3ff;
}

.referred_concepts {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.referred_concepts_item {
    display:flex;
    flex-direction: row;
}

.referred_concepts_item > div:nth-child(1) {
    padding-right: 10px;
    width: 150px;
    overflow-wrap: break-word;
}

.referred_concepts_item > div:nth-child(2) {
    padding-right: 10px;
    width: 250px;
    overflow-wrap: break-word;
}

.referred_concepts_item > div:nth-child(3) {
    padding-right: 10px;
    width: 150px;
    overflow-wrap: break-word;
}

.referred_concepts_item > div:nth-child(4) {
    padding-right: 10px;
    overflow-wrap: break-word;
    min-width: 250px;
}

.referred_concepts_top_header {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 7px;
}

.referred_concepts_top_header > div:nth-child(1) {
    padding-right: 10px;
    width: 410px;
}

.referred_concepts_top_header > div:nth-child(2) {
    padding-right: 10px;
    width: 250px;
}

.referred_concepts_header {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 7px;
}

.referred_concepts_header > div:hover {
    color: #fff;
}

.referred_concepts_header > div:nth-child(1) {
    padding-right: 10px;
    width: 150px;
    cursor: pointer;
}

.referred_concepts_header > div:nth-child(2) {
    padding-right: 10px;
    width: 250px;
    cursor: pointer;
}

.referred_concepts_header > div:nth-child(3) {
    padding-right: 10px;
    width: 150px;
    cursor: pointer;
} 

.referred_concepts_header > div:nth-child(4) {
    padding-right: 10px;
    min-width: 250px;
    cursor: pointer;
}

.referred_button {
    display: flex;
}