
body {
    background: #386479;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dialog_save {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.dialog_save .button {
    min-width: 50px;
}

.dialog_save > ul {
    margin: 0px;
    margin-top: 5px;
    padding-left: 35px;
    list-style-type: square;
}

.dialog_save_buttons {
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
}

.dialog_save_buttons > .button:nth-child(3) {
    margin-right: 0px;
}

.side_panel {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.side_nav_bar {
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
}

.side_nav_bar img {
    width: 32px;
    height: 32px;
}

.side_nav_bar > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #ffc878;
    border: 2px solid transparent;
    cursor: pointer;
}

.side_nav_bar > div:hover {
    background: #ff9800;
}

.side_nav_bar > div.selected {
    background: #ff9800;
    border-color: #333;
}

.side_container {
    margin-top: 5px;
    height: 100%;
    border-radius: 10px;
}

.save_panel {
    display: flex;
    padding: 5px;
    width: 100%;
    justify-content: flex-end;
}

.sub_panel {
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.sub_panel_select {
    height: 24px;
}

.sub_panel_search {
    display: flex;
    height: 24px;
    margin-top: 5px;
}

.sub_panel_search input {
    width: 100%;
}

.side_content_1 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_1_group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_1_group .list {
    height: 100%;
}

.side_content_1_group .label {
    transform: translateX(10px);
}

.side_content_1_result_header {
    display: flex;
}

.side_content_1_result_header > div {
    min-width: 50px;
}

.side_content_1_result_item {
    display: flex;
}

.side_content_1_result_item > div {
    min-width: 50px;
}

.side_content_2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_2_result_item {
    display: flex;
}

.side_content_2_result_item > div {
    min-width: 50px;
}

.side_content_3 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_4 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side_content_5 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_panel {
    width: 100%;
}

.main_container {
    display: flex;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.main_content_1 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_2 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_2 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_3 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_3 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_4 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_4 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_5 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.main_content_5 > .group:nth-child(2) {
    margin-top: 0px;
}

.main_content_5_chart {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.main_content_title_container {
    display: flex;
    justify-content: space-between;
}

.main_content_title {
    font-weight: bold;
    font-size: 32pt;
    margin-left: 10px;
    font-variant-caps: all-petite-caps;
}

.main_content_title_name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14pt;
    font-variant-caps: all-petite-caps;
    justify-content: center;
    margin-right: 5px;
}

.main_content_title_name .label {
    margin: 0px;
    padding: 0px;
    height: 16px;
    overflow: visible;
    align-self: flex-end;
}

.main_content_title_name div {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main_content_title_deprecated {
    color: #dd0000;
}

.description {    
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;
}

.description > .label {
    font-weight: bold;
}

.description > textarea {
    resize: none;
}

.description > div:last-child {
    display: flex;
}

.connections {    
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.connections > div:nth-child(2) {
    display: flex;
}

.connections > .button {
    margin-right: auto;
}

.connections > .label {
    font-weight: bold;
}

.connections > .list {
    background: #fff;
}

.item_history {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.item_history > .label{
    font-weight: bold;
}

.item_history > div:nth-child(2) {
    display: flex;
}

.item_history_item {
    display: flex;
    flex-direction: row;
}

.item_history_item > div:nth-child(1) {
    padding-right: 10px;
    white-space: pre;
}

.item_history_item > div:nth-child(2) {
    padding-right: 10px;
}

.item_history_item > div:nth-child(3) {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.item_history_dialog {
    display: flex;
    flex-direction: column;
}

.item_history_dialog > div:nth-child(2) {
    display: flex;
    align-self: flex-end;
}

.version_list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.version_list > .label {
    padding-left: 7px;
}

.version_list_item {
    display: flex;
    flex-direction: row;
}

.version_list_item > div:nth-child(1) {
    padding-right: 10px;
    width: 100px;
}

.version_list_item > div:nth-child(2) {
    padding-right: 10px;
    width: 150px;
    overflow-wrap: break-word;
}

.version_list_item > div:nth-child(3) {
    padding-right: 10px;
}

.version_list_header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 7px;
}

.version_list_header > div:hover {
    color: #fff;
}

.version_list_header > div:nth-child(1) {
    padding-right: 10px;
    width: 100px;
    cursor: pointer;
}

.version_list_header > div:nth-child(2) {
    padding-right: 10px;
    width: 150px;
    cursor: pointer;
}

.version_list_header > div:nth-child(3) {
    padding-right: 10px;
    cursor: pointer;
}


.version_list_group {
}

.ssyk_item {
    display: flex;
}

.ssyk_item > div:first-child {
    margin-right: 5px;
}

.changes {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

.changes_item {
    display: flex;
    flex-direction: row;
}

.changes_item > div:nth-child(1) {
    padding-right: 10px;
    width: 150px;
}

.changes_item > div:nth-child(2) {
    padding-right: 10px;
    width: 100px;
}

.changes_item > div:nth-child(3) {
    padding-right: 10px;
    width: 150px;
}

.changes_item > div:nth-child(4) {
    padding-right: 10px;
}

.changes_group {
    height: 100%;
}

.loader_child {
    font-weight: normal;
    font-variant-caps: normal;
}

.vis_network_main {
    display: flex;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.vis-tooltip {
    position: absolute;
    background: rgb(247, 231, 164);    
    border: 1px solid #555;
    border-radius: 5px;
    color: #000;
    box-shadow: #000 0px 1px 3px;
    padding: 0px 2px 0px 2px;
    z-index: 1;
    font-family: 'Calibri', sans-serif;
}